<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winniethepooh.hotelsystembackend.mapper.RoomMapper">
    <insert id="insertRoom">
        insert into room (room_number, room_type_id, status, floor, price, capacity, description, is_deleted,
                          created_at, updated_at)
        values (#{roomNumber}, #{roomType}, #{status}, #{floor}, #{price}, #{capacity}, #{description}, 0, now(), now())
    </insert>
    <update id="modifyRoomStatus">
        update room
        set status = #{status}
        where room_number = #{roomNumber}
          and is_deleted = 0
    </update>

    <select id="queryRooms" resultType="com.winniethepooh.hotelsystembackend.entity.Room">
        select * from room
        <where>
            <if test="roomNumber != null">
                and room_number = #{roomNumber}
            </if>
            <if test="roomTypeId != null">
                and room_type_id = #{roomTypeId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            and is_deleted = 0
        </where>
        limit #{offset} offset #{limit}
    </select>

    <select id="getTypeNameByRoomId" resultType="java.lang.String">
        select name
        from room_type
        where id = #{roomTypeId}
          and is_deleted = 0
    </select>

    <select id="getRoomIdByRoomNumber" resultType="java.lang.Long">
        select id
        from room
        where room_number = #{roomNumber}
          and is_deleted = 0
    </select>

    <select id="queryRoomById" resultType="com.winniethepooh.hotelsystembackend.entity.Room">
        select *
        from room
        where id = #{id}
          and is_deleted = 0
    </select>


</mapper>