<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winniethepooh.hotelsystembackend.mapper.RoomMapper">
    <insert id="insertRoom">
        insert into room (room_number, room_type, status, floor, price, capacity, description, is_deleted,
                          created_at, updated_at)
        values (#{roomNumber}, #{roomType}, #{status}, #{floor}, #{price}, #{capacity}, #{description}, 0, now(), now())
    </insert>

    <update id="modifyRoomStatus">
        update room
        set status = #{status}
        where id = #{id}
          and is_deleted = 0
    </update>

    <update id="modifyRoomInfo">
        UPDATE room
        <set>
            <if test="roomNumber != null">room_number = #{dto.roomNumber},</if>
            <if test="roomType != null">room_type_id = #{dto.roomType},</if>
            <if test="status != null">status = #{dto.status},</if>
            <if test="floor != null">floor = #{dto.floor},</if>
            <if test="price != null">price = #{dto.price},</if>
            <if test="capacity != null">capacity = #{dto.capacity},</if>
            <if test="description != null">description = #{dto.description},</if>
            updated_at = now()
        </set>
        WHERE id = #{id}
        AND is_deleted = 0
    </update>

    <update id="deleteRoom">
        update room
        set is_deleted = 1
        where id = #{id}
          and is_deleted = 0
    </update>


    <select id="queryRooms" resultType="com.winniethepooh.hotelsystembackend.entity.Room">
        select * from room
        <where>
            <if test="roomNumber != null">
                and room_number = #{roomNumber}
            </if>
            <if test="roomType != null">
                and room_type = #{roomType}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            and is_deleted = 0
        </where>
        limit #{limit} offset #{offset}
    </select>

    <select id="getRoomIdByRoomNumber" resultType="java.lang.Long">
        select id
        from room
        where room_number = #{roomNumber}
          and is_deleted = 0
    </select>

    <select id="queryRoomById" resultType="com.winniethepooh.hotelsystembackend.entity.Room">
        select *
        from room
        where id = #{id}
          and is_deleted = 0
    </select>

    <select id="getExistFloors" resultType="java.lang.Integer">
        select distinct floor
        from room
        where is_deleted = 0
    </select>

    <select id="getRoomCount" resultType="java.lang.Integer">
        select count(*) from room where DATE (created_at) &lt;= #{date} and is_deleted = 0
    </select>


</mapper>