<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winniethepooh.hotelsystembackend.mapper.UserMapper">

    <insert id="createUser">
        insert into user
        set name           = #{name},
            id_card_number = #{idCardNumber},
            phone          = #{phone},
            password       = #{password},
            email          = #{email},
            created_at     = now(),
            updated_at     = now()
    </insert>

    <update id="updateLastLoginTime">
        update user
        set last_login = now()
        where id = #{id}
    </update>

    <update id="modifyUserInfo">
        update user
        <set>
            <if test="passwordToChange != null">
                password = #{passwordToChange},
            </if>
            <if test="emailToChange != null">
                email = #{emailToChange},
            </if>
            updated_at = now()
        </set>
        where phone = #{phone}
    </update>

    <insert id="createIndividual" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO individual (name, phone, id_card_number)
        VALUES (#{name}, #{phone}, #{idCardNumber})
    </insert>

    <select id="findUserByPhone" resultType="com.winniethepooh.hotelsystembackend.entity.User">
        select *
        from user
        where phone = #{phone}
    </select>

    <select id="findUserByPhoneAndPassword" resultType="com.winniethepooh.hotelsystembackend.entity.User">
        select *
        from user
        where phone = #{phone}
        and password = #{password}
    </select>

    <select id="findUserById" resultType="com.winniethepooh.hotelsystembackend.entity.User">
        select *
        from user
        where id = #{id}
    </select>

    <select id="findIndividual" resultType="com.winniethepooh.hotelsystembackend.entity.Individual">
        select *
        from individual
        where phone = #{phone}
        and name = #{name}
        and id_card_number = #{idCard}
    </select>

    <select id="findIndividualById" resultType="com.winniethepooh.hotelsystembackend.entity.Individual">
        select *
        from individual
        where id = #{id}
    </select>

    <select id="findUserByIdV2" resultType="com.winniethepooh.hotelsystembackend.vo.QueryUserVO">
        select * from user
        where id = #{id}
    </select>

    <select id="getCustomerCount" resultType="java.lang.Integer">
        select count(*) from individual
        where is_deleted = 0
        and DATE(created_at) &lt;= #{date}
    </select>

    <select id="getNewCustomerCount" resultType="java.lang.Integer">
        select count(*) from individual
        where is_deleted = 0
        and DATE(created_at) = #{date}
    </select>

</mapper>